@model IEnumerable<Website.Models.Technology>

@{
    ViewData["Title"] = "Service";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="ftco-section" id="skills-section">
    <div class="container">
        <div class="row justify-content-center pb-5">
            <div class="col-md-12 heading-section text-center ftco-animate">
                <h1 class="big big-2">Services</h1>
                <h2 class="mb-4">My Services</h2>
                <p>I am freelancing in these services. I have opened many projects in all these services.</p>
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4 text-center d-flex ftco-animate">
                    <a href="#" class="services-1">
                        <span class="icon">
                            <img src="~/Image/Technologys/@Html.DisplayFor(modelItem => item.image)" width="80px" height="80px" />
                        </span>
                        <div class="desc">
                            <h3 class="mb-5">@Html.DisplayFor(modelItem => item.Name)</h3>
                        </div>
                        <div class="desc">
                            <h3 class="mb-5">@Html.DisplayFor(modelItem => item.Description)</h3>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</section>

